        <nav>
            <a href="/admin">Home</a>
            <a href="/displayKeywords">View</a>
            <a href="/productSearch">Add/Remove</a>
            <a href="/productUpdate">Update</a>
            <a href="/logout">Logout</a>
        </nav>