<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="js/functions.js"></script>
        <meta charset="UTF-8">
        <title>Zombie Apocalypse Prep Store</title>
        <link href="css/styles.css" rel="stylesheet">

    </head>
    <body>
        
            