<%- include('partials/header.ejs') %>

    <main>
        <h1>
           Administration
        </h1>
        <br>
        <div>
            <ul>
                <li>
                    <a href="/productSearch">Product Search</a>
                </li>
                <li>
                    Inventory Control
                </li>
                <li>
                    Report 1
                </li>
                <li>
                    Report 2
                </li>
                <li>
                    Report 3
                </li>
            </ul>
        </div>
         <form action="/logout">
            <button>Logout</button>
        </form>
        <br>
    </main>

<%- include('partials/footer.ejs') %>