<%- include('partials/header.ejs') %>

    <main>
        <h1>
           Administration
        </h1>
        <br>
        
         <form action="/logout">
            <button>Logout</button>
        </form>
        <br>
    </main>
    <div>
        <a href="/productSearch">Product Search</a>
    </div>
    <div>
        <p>
            Number of items in products database<br>
              <button onclick="getItemCount()">Show Totals</button><br>
              Total: <span id="totalResults"></span><br>
              Active:<span id="activeResults"></span><br>
              Inactive:<span id="inactiveResults"></span><br>
        </p>
    </div>

<%- include('partials/footer.ejs') %>