<%- include('partials/header.ejs') %>

    <main>
        <h1>
           Administration
        </h1>
        <a href="/logout" class="whiteText">Logout</a>
        <br>
    </main>
    <br>
    <div>
        <a href="/productSearch" class="blackText">Add/Remove Products</a>
    </div>
    <div>
        <button onclick="getItemCount()">Show Product Totals Statistics</button><br>
        <div id="totalResults"></div><br>
        <button onclick="getPrices()">Show Product Price Statistics</button><br>
        <div id="priceResults"></div><br>
        </p>
        
    </div>

<%- include('partials/footer.ejs') %>