<%- include('partials/header.ejs') %>

    <main>
        <h1>
           Administration
        </h1>
        <br>
        <ul>
            <li>
                <a href="/productSearch">Product Search</a>
            </li>
            <li>
                Inventory Control
            </li>
            <li>
                Report 1
            </li>
            <li>
                Report 2
            </li>
            <li>
                Report 3
            </li>
        </ul>
        <br>
         <form action="/logout">
            <button>Logout</button>
        </form>
    </main>

<%- include('partials/footer.ejs') %>