<%- include('partials/header.ejs') %>

    <main>
        <h1>
           Administration
        </h1>
        <%- include('partials/adminNav.ejs') %>
    </main>
    <br>
    <div>
        <div id="reportsContainer">
        <button onclick="getItemCount()">Show Product Totals Statistics</button><br>
        <div id="totalResults"></div><br>
        <button onclick="getPrices()">Show Product Price Statistics</button><br><br>
        <div id="priceResults"></div><br>
    </div>
    </div>
    


<%- include('partials/footer.ejs') %>