<%- include('partials/header.ejs') %>

    <main>
        <h1>
            Main
        </h1>
        <br>
        <a href="/login">Login</a>
        <br>
    </main>

<%- include('partials/footer.ejs') %>