<%- include('partials/header.ejs') %>

    <main >
        <div class="jumbotron text-center" >
            <h1 class="display-4">Welcome to ZAPS!</h1>          
            <p class="lead">We have explored the wasteland together and have created a website to share our surplus of items with other survivors.</p>
            <p class="lead">Browse the shop and search for any items in our selection, narrow your search by description, keyword, or price range!
                Once you have found your favorite items, head to the Cart to check out, make sure to order the ammount appropriate for your situation.</p>
            <p class="lead">Via our admin page, we can control the items we put up for sale, their keyword associated, and see our sales reports.</p>
            <hr class="my-4">
            <p>This project is a joint effort by George Blombach, Dalia Faria, Carlos Orduna and Roger Terrill.</p>
        </div>
    </main>
        
<%- include('partials/footer.ejs') %>

