<%- include('partials/aheader.ejs') %>

    <main class="text-center">
        <h1>
            Product Update
        </h1>

    
    <div>
        <form action="javascript:lookupItem()">
            <input type="text" size="15" placeholder="Enter product ID" name="productID" id="productID">
            <button class="btn btn-primary btn-lg">
                Search
            </button>
        </form>
    </div>
    <br>
    <div id="lookupResults" class ="jumbotron">
            
            
    </div>
    </main>

<%- include('partials/footer.ejs') %>