<%- include('partials/header.ejs') %>

    <main>
        <h1>
            Product Search
        </h1>
     
    <%- include('partials/adminNav.ejs') %>
       
    </main>
    <div>
        <form action="/search">
            <input type="text" size="15" placeholder="Type keyword" name="keyword">
            <button>
                Search
            </button>
        </form>   
    </div>

<%- include('partials/footer.ejs') %>