<%- include('partials/aheader.ejs') %>

    <main class="text-center">
        <h1>
            Product Search
        </h1>
       

    <div>
        <form action="/search">
            <input type="text" size="15" placeholder="Admin Search" name="keyword">
            <button class="btn btn-primary btn-lg">
                Search
            </button>
        </form>   
    </div>
    </main>
    
<%- include('partials/footer.ejs') %>