<%- include('partials/aheader.ejs') %>


    <main class = "text-center">    
        <div id = "favTitleBar" class = "jumbotron">
            
            <h1 id="favHeader">
                Selected Items
            </h1>
            <br>
            <% rows.forEach(function(row,i) { 
            
                if(i!=0)
                {
                    %><span id='separator'>-</span><%
                };
            %>
                
                <a class="keywordLink"><%= row['keyword'] %></a>
            <% }) %>
            <br>

        </div>
        
        <hr>
        <div id="favorites"></div>
        </main>

<%- include('partials/footer.ejs') %>

