<%- include('partials/header.ejs') %>


        
        <div id = "favTitleBar"
            <h1 id="favHeader">
                Selected Items
            </h1>
            <br>
            <% rows.forEach(function(row,i) { 
            
                if(i!=0)
                {
                    %><span id='separator'>-</span><%
                };
            %>
                
                <a class="keywordLink"><%= row['keyword'] %></a>
            <% }) %>
            <br>
            <a href="/productSearch" id="searchLink">Back to Search</a>
        </div>
        
        <hr>
        <div id="favorites"></div>

<%- include('partials/footer.ejs') %>

