<%- include('partials/header.ejs') %>

<h1>Product Search</h1>
<form>
  Description:<br />
  <input id="description" type="text" name="description" value="" /><br />
  Type:<br />
  <select id="type">
    <option value="axe">Axe</option>
    <option value="chainsaw">Chainsaw</option>
    <option value="bat">Bat</option>
    <option value="rake">rake</option> 
  </select>
    <br /><br />
  Price From:<br />
  <input id="pricefrom" type="text" name="pricefrom" value="" /><br /><br />
  Price To:<br />
  <input id="priceto" type="text" name="priceto" value="" /><br /><br />
  <input type="button" value="Submit" id="searchBtn"/>
</form>

<div class="resultsContainer" id="searchContainer">

</div>

<%- include('partials/footer.ejs') %>
