body
{
    background-image: url("/img/bg4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.column
{
    padding: 8px;
}


main
{
    /*background-color: rgba(0,0,0,0.75);*/
    opacity: 0.9;
    width: 75%;
    margin: 0 auto;
    background-repeat: no-repeat;
     background-size: cover;
}


#reportsContainer
{
    text-align: center;
}

#lookupResults
{
    width:500px;
    /*color:black;*/
    text-align: center;
    display: inline-block;
}

#lookupResults:empty
{
    display: none !important;
}

#favLink
{
    background-color: rgba(250,250,250,0.75);
    color: #CE4108;
    font-size: .8em;
    margin-left: 5px;
    margin-right: 5px;
    height: 5px;
}

#searchLink
{
    color: #CE4108;
}

.image
{
    border-radius: 20px;       
}

.resultsContainer, #favorites
{
    background-color: rgba(0,0,0,0.50);
    display: inline-block;
    padding: 15px;
    border-radius: 25px;
    margin:0 auto;
}

#favorites:empty
{
    display:none;
}

#favHeader, #favTitleBar
{
     background-color: rgba(0,0,0,0.75);
     color: silver;
     width: 50%;
     border-radius: 25px;
     margin: 0 auto;
     max-width: 50%;
}

.keywordLink, #separator
{
     background-color: rgba(0,0,0,0.75); 
    color: white;
}

.keywordLink:hover, button:hover, .favoriteIcon:hover
{
    cursor: pointer;
}

.keywordLink:hover
{
    color: red;
}

.favoriteIcon
{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-bottom: 50%;
}

.description
{
    width : 200px;
    display: inline-block;
    word-wrap: break-word;
}

.itemPrice
{
    margin: 0 auto;
    padding:0;
    display: block;
    height:10px;
}

.itemContainer
{
    display:inline-block;
    margin: 0 auto;
    margin: 7px;
    padding: 0px;
    background-color: black;
    border-radius: 25px;
    vertical-align: middle;
}

.imageContainer
{
    display:block;
    margin: 0 auto;
    padding: 0;
    max-height: 200px;
}

.productID
{
    display:inline-block;
    height: 5px;
    margin:0 auto;
}
